<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.loopd.sdk.beacon">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application>

        <service android:enabled="true"
            android:exported="false"
            android:name=".service.BluetoothLeService" />

    </application>

</manifest>
